.App-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.App-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-header {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.App-cities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.App-cities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.App-each-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 600px;
}

.App-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.App-arrows {
    width: 25px;
    opacity: 0.6;
}

.App-removeEach-btn {
    font-size: 16px;
    padding: 8px 24px;
    border: none;
    outline: none;
    background-color:brown;
    color: white;
}

.App-deleleAll-btn {
    font-size: 18px;
    padding: 8px 26px;
    border: none;
    outline: none;
    background-color: aqua;
    color: white;
}

.App-address {
    text-align: center;
}

.App-description {
    text-align: center;
}

.data-image {
    width: 400px;
    height: 250px;
}